<%- include("../partials/header") %>
    <div>
        <h1 style="width: 50%; margin: 50px auto;"> Edytuj </h1>
        <div style="width: 50%; margin: 0 auto;">
            <form action="/kwiaty/<%=kwiaty._id%>?_method=PUT" method="POST">
                
                <div class="form-group">
                   <input class="form-control" type="text" name="kwiat[name]" value="<%=kwiaty.name%>">
                </div>

                <div class="form-group">
                <input class="form-control" type="text" name="kwiat[image]" value="<%=kwiaty.image%>">
                </div>

                <div class="form-group">
                <input class="form-control" type="text" name="kwiat[description]" value="<%=kwiaty.description%>">
                </div>
                <div class="form-group">
                <input class="form-control" type="text" name="kwiat[price]" value="<%=kwiaty.price%>">
                </div>

                <!-- <div class="form-group">
                <input class="form-control" type="text" name="image" value="Adres obrazu">
                </div> -->
            
    
                <div class="form-group">
                <button class="btn btn-warning">Zapisz!</button>
                </div>
            </form>
        </div>
    </div>  
<%- include("../partials/footer") %>