<%- include("../partials/header") %>



    <div class="container card" id="index-container">
        <header class="jumbotron index-border index-hover" id="index-header"> 
            <div class="container">
                <h1 class="strona-glowna">Ogrodnictwo Badura</h1>
                 
                  <p>
                        <% if(currentUser){ %>
                        <a class="btn btn-primary btn-lg" href="/kwiaty/new">Dodaj nowy kwiat</a>
                        <% } %>
                  </p>
            </div>
        </header>
   
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% kwiaty.forEach(function(kwiaty){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="card img-fluid index-border index-hover">
                         <img src= "<%= kwiaty.image %>" class="rounded img-fluid">
                        <div class="caption">
                            <h4><%= kwiaty.name %></h4>
                        </div>
                        <p>
                            <a href="/kwiaty/<%=kwiaty._id %>" class="btn btn-primary"> Więcej</a>
                        </p>
                    </div>
                </div>
            <% }); %> 
        </div>
    </div>

<%- include("../partials/footer") %>