<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class = "col-md-3 card">
            <p class="lead"> Coś tu bedzie:</p>
            <div class="list-group-item active">coś 1</div>
            <div class="list-group-item">coś 2</div>
            <div class="list-group-item">info 3</div>
        </div>
        <div class="col-md-9 card">
            <div class="card">
                <img class="rounded" src= "<%=kwiaty.image%>">
                <div class="caption">
                    <h4 class= "pull-right"><%= kwiaty.price %></h4>
                    <h2><a><%=kwiaty.name%></a></h2>
                    <p><%=kwiaty.description%></p>

                    <% if(currentUser && kwiaty.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/kwiaty/<%=kwiaty._id%>/edit">Edytuj</a>
                    <form class="delete-form" action="/kwiaty/<%=kwiaty._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Usuń</button>
                    </form>
                    <% } %>

                </div>
            </div>
            <div class="">
                <div class="text-right"> 
                    <a href="/kwiaty/<%= kwiaty.id %>/comments/new" class = "btn btn-success">Dodaj Komentarz</a>
                </div>
                <hr>
                <% kwiaty.comments.forEach(function(comment){ %>
                    <div class="row card">
                        <div class="col-md-12"> 
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"></span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/kwiaty/<%=kwiaty._id%>/comments/<%=comment._id%>/edit">Edytuj</a>
                        <form class="delete-form" action="/kwiaty/<%=kwiaty._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Usuń</button>
                        </form>
                    <% } %>
                    </div>
                <% }) %>
                
            </div>
        </div>
        
    </div>
</div>




<%- include("../partials/footer") %>